.card-s {
    height: 850px;
    width: 100%;
}

.margin-gap {
    margin-top: 15%;
}

.p-with {
    width: 680px;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
}

div {
    padding: 0;
}
